:root {
    --bg: #000;
    --blur: 10px;
}

body {
    background-image: url("img/1.JPG");
    background-position: center;
    background-size: cover;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 24px;
    transition: 2s;
    margin: 0 !important;
}

a {
    text-decoration: none;
}

.container {
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-items: center;
    flex-wrap: wrap;
}

.header-wrapper {
    color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
}


.header1 {
    align-self: self-end;
    text-align: center;
    font-size: 3.5em;
    width: 100vw;
    height: fit-content;
    padding: 0.5em;
    margin: 0.5em;
    margin-top: 0;
    padding-top: 0;
    border-radius: 5px;
    mix-blend-mode: luminosity;
}

.motocar {
    font-family: "Playwrite CU", cursive;
    font-weight: 800;
}

.motocar span {}

.blu {
    color: rgb(60, 141, 255);
}

.red {
    color: rgb(255, 34, 0);
}

.dlu {
    color: #0700de;
}


.wikiquote-wrapper {}

.wikiquote {
    width: 100%;
    color: white;
    text-align: justify;

    padding: 0.5em;
}


.options-container {
    width: 100%;
    display: flex;
    align-self: baseline;
    justify-content: center;
    font-size: 1em;
}

.options-container>.options-wrapper {
    margin-top: 0;
}

.options-wrapper {
    backdrop-filter: blur(var(--blur));
    padding: 1.6em;
    margin: 2em;
    text-decoration: none;
    font-size: 0.6em;
    font-weight: 300;
    border: solid 0.1em #fff;
    border-radius: 4px;
}

.options-wrapper a {
    color: #fff;
}